.container {
  width: 800px;
  margin: 30px auto;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

.tab-pane {
  padding: 20px;
}

.f-r {
  float: right;
}

.l-h {
  line-height: 25px;
}

.a-r {
  text-align: right;
}

.s-m-t {
  margin-top: 5px;
}

.m-t {
  margin-top: 20px;
}

.m-l {
  margin-left: 20px;
}

.p-l {
  padding-left: 15px;
}

.p-r {
  padding-right: 15px;
}

.d-ib {
  display: inline-block;
}

.no-list {
  list-style: none;
}

.font-red {
  color: red;
}

.font-mono {
  font-family: monospace;
}

.font-green {
  color: green;
}

.fund-range {
  width: initial;
}

.wif-input {
  width: 350px;
  line-height: 26px;
}

.border {
  border: 2px solid lightgrey;
  text-align: center;
  padding: 10px;
  display: block;
  margin: 25px;
  border-radius: 10px;
}

.success:before {
  content:  "\2713 "; 
  width: 34px;
  height: 34px;
  text-align: center;
  vertical-align: middle;
  display: block;
  padding-top: 7%;
  font-size: 25px;
  font-weight: bold;
  color: green;
}

.warning:before {
  content: "!";
  width: 30px;
  height: 30px;
  border: 2px solid gray;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  display: block;
  padding-top: 7%;
  font-size: 20px;
  font-weight: bold;
  color: gray;
}

.pending:before {
  position: static;
  float: left;
  margin: 7px 0;
  width: 20px;
  height: 20px;
  border: solid 3px #cfdadd;
  border-top-color: #4f566f;
  border-radius: 40px;
  content: "";
  -webkit-box-sizing: border-box;
  -webkit-animation: spin 1s infinite linear;
     -moz-animation: spin 1s infinite linear;
      -ms-animation: spin 1s infinite linear;
       -o-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

.loading:before {
  position: static;
  float: right;
  margin-right: -30px;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-top: 7px;
  border: solid 3px #cfdadd;
  border-top-color: #4f566f;
  border-radius: 40px;
  content: "";
  -webkit-box-sizing: border-box;
  -webkit-animation: spin 1s infinite linear;
     -moz-animation: spin 1s infinite linear;
      -ms-animation: spin 1s infinite linear;
       -o-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

@-webkit-keyframes spin { 
  100% { 
    -webkit-transform: rotate(360deg); 
  } 
} 

#message {
  width: 60%;
}

.bold {
  font-weight: bold;
}

.header-info {
  width: 100%;
  font-style: italic;
  text-align: right;
}

.not-visible {
  visibility: hidden;
}

.recipient-message {
  padding: 5px !important;
  margin: 5px 0px !important;
}

.setup {
  margin: 40px auto;
}

.setup td {
  padding: 10px;
}

.setup tr {
  border-bottom: 1px solid black;
}

.messages td.date {
  width: 100px;
  text-align: right;
  padding: 10px;
}
