<html ng-app="app">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Test</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="css/main.css" type="text/css" media="screen" charset="utf-8" />

    <script src="js/jq.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/bootstrap/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/openpgp.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/bitcoinjs.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/angular.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/angular-bitcoin.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/angular-cookies.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/utils.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/openpgp.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/angular-pgp.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/main.js" type="text/javascript" charset="utf-8"></script>
  </head>

  <body>
    
    <div class="container" role="tabpanel" ng-controller="BtcPgp2">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href="#setup" aria-controls="setup" role="tab" data-toggle="tab">Setup</a></li>
        <li role="presentation" class="active"><a href="#encrypt" aria-controls="encrypt" role="tab" data-toggle="tab">Encrypt</a></li>
        <li role="presentation"><a href="#decrypt" aria-controls="decrypt" role="tab" data-toggle="tab">Decrypt</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">


        <div role="tabpanel" class="tab-pane " id="setup">
          <p>This app lets you send PGP encrypted mail with the bitcoin blockchain.  Mail is encrypted using bitcoin public keys, and sent to recipients using OP_RETURN transactions.  This is just an experiment, and uses the Testnet blockchain.  To use this app, you need a private key (to send and decrypt messages), a small amount of bitcoin (to broadcast messages to recipients), and a special BTC-PGP transaction (to broadcast your pubilc key).  All of this can be done below:  
          <!--<input type="button" value="debug" ng-click="debug()" />-->
          <!--<input type="button" value="debug" ng-click="debug2()" />-->
          <!--<input type="button" value="debug" ng-click="debug3()" />-->
          <!--3 rows, 3 columns-->
          <!--Rows: private key, balance, btc-pgp message-->
          <!--Columns: label, status, display-->
          <table class="setup">
            <tbody>
              <tr>
                <td>Private Key</td>
                <td>
                  <div ng-class="{ 'warning' : !key, 'success' : !!key }"></div>
                </td>
                <td>
                  <input type="text" 
                    class="wif-input"
                    placeholder="Enter WIF" 
                    ng-model="privateWif" 
                    save-cookie
                    btc-type="wif"
                    btc-model="key" />
                  <input type="button" class="btn" value="Create Random" ng-click="createRandom()" />
                </td>
              </tr>
              <tr>
                <td>Balance</td>
                <td>
                  <div ng-show="!key" class="warning"></div>
                  <div ng-show="!!key" ng-class="{ 'pending' : key.utxo.state == 'pending', 'warning' : key.utxo.state === 'success_no_data', 'success' : key.utxo.state === 'success_data' }"></div>
                </td>
                <!--4 states, pending, success_data, success_no_data, fail-->
                <!--if pending, show spinny thing-->
                <!--if success_data, show balance-->
                <!--if success_no_data, show funding indicator-->
                <td>
                  <div ng-show="!key">Please create private key first.</div>
                  <div ng-show="!!key && key.utxo.state === 'success_no_data'" class="l-h">
                    <status-button value="Fund" class="f-r" click="fund(0.001, key.addr)"></status-button>
                    Fund account with 0.001 BTC 
                  </div>
                  <div ng-show="!!key && key.utxo.state === 'success_data'" class="l-h">
                    Balance: {{ key.utxo.data | getBalance }}
                  </div>
                </td>
              </tr>
              <tr>
                <td>BTC-PGP Txn</td>
                <td>
                  <div ng-show="!key" class="warning"></div>
                  <div ng-show="!!key" ng-class="{ 'pending' : key.opreturn.state == 'pending', 'warning' : key.opreturn.state === 'success_no_data', 'success' : key.opreturn.state === 'success_data' }"></div>
                </td>
                <!--4 states, pending, success_data, success_no_data, fail-->
                <!--if pending, show spinny thing-->
                <!--if success_data, show balance-->
                <!--if success_no_data, show funding indicator-->
                <td>
                  <div ng-show="!key">Please create private key first.</div>
                  <div ng-show="!!key && key.opreturn.state === 'success_no_data' && key.utxo.state === 'success_no_data'">Please fund this account first.</div>
                  <div ng-show="!!key && key.opreturn.state === 'success_no_data' && key.utxo.state === 'success_data'" class="l-h">
                    A special message be broadcast so others may securely message you.
                    <br />
                    <input type="text" id="message" ng-model="message">
                    <span ng-class="{ 'font-red': message.length > 38, 'font-green': !message || message.length <= 38 }">{{ message.length || 0}} / 38</span>
                    <status-button value="Send" class="f-r" click="broadcast(key, 'p!' + message)"></status-button>
                  </div>
                  <div ng-show="!!key && key.opreturn.state === 'success_data'" class="l-h">
                    Message: {{ key.opreturn.data | showBtcPgpMessage }}
                  </div>
                </td>
              </tr>
            </tbody>
            
          </table>

          <p ng-show="key.utxo.state === 'success_data' && key.opreturn.state === 'success_data'">
            Congratulations!  You are ready to send and receive BTC-PGP mail.  Your address is:
            <br />
            <span class="m-l">{{ key.addr }}</span>
          </p>
        </div>

        <div role="tabpanel" class="tab-pane active" id="encrypt" ng-controller="EncryptCtrl">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="recipient" class="col-sm-2 control-label">To:</label>
              
              <div class="col-sm-10" ng-class="{ 'loading' : recipientObj.pubKey.state === 'pending' }">
                <input type="text" class="form-control" placeholder="BTC-PGP Address" ng-model="recipient2" btc-model="recipientObj" btc-type="addr" >
                <div ng-show="!!recipientObj" class="recipient-message alert alert-{{ recipientAddrMsgs[recipientObj.pubKey.state].class }}">{{ recipientAddrMsgs[recipientObj.pubKey.state].message }}</div>
              </div>
            </div>
            <div class="form-group">
              <label for="message" class="col-sm-2 control-label">Message:</label>
              <div class="col-sm-10">
                <textarea class="form-control" rows="10" placeholder="Message" ng-model="message_to_enc" message-model="messageObj" ></textarea>
              </div>
              <status-button class="col-sm-2 col-sm-offset-10 a-r m-t" click="messageObj.encrypt(pub_key)" value="Encrypt" disabled="!pub_key || !message_to_enc"></status-button>
            </div>
            <div class="form-group" ng-show="!!messageObj.asciiarmor">
              <label for="message" class="col-sm-2 control-label">Encrypted Message:</label>
              <div class="col-sm-10">
                <pre>{{ messageObj.asciiarmor }}</pre>
              </div>
              <status-button class="col-sm-6 col-sm-offset-6 a-r m-t" click="messageObj.uploadBroadcast(key)" value="Upload and Broadcast Encrypted Message" ng-show="!!key && key.utxo.state === 'success_data' && messageObj.upload.state !== 'success_data'"></status-button>
              <div>
                This message has been uploaded and broadcast on the blockchain.  You can see it: <br /> 
                <a class="m-l" >{{ messageObj.upload.data }}</a> 
              </div>
            </div>
          
        </div>


        <div role="tabpanel" class="tab-pane" id="decrypt">...</div>



      </div>

    </div>  
  </body>
</html>
