<html ng-app="app">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Test</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="css/main.css" type="text/css" media="screen" charset="utf-8" />

    <script src="js/jq.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/bootstrap/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/openpgp.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/bitcoinjs.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/angular.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/angular-cookies.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/main.js" type="text/javascript" charset="utf-8"></script>
  </head>

  <body>
    
    <div class="container" role="tabpanel" ng-controller="BtcPgp">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#setup" aria-controls="setup" role="tab" data-toggle="tab">Setup</a></li>
        <li role="presentation"><a href="#encrypt" aria-controls="encrypt" role="tab" data-toggle="tab">Encrypt</a></li>
        <li role="presentation"><a href="#decrypt" aria-controls="decrypt" role="tab" data-toggle="tab">Decrypt</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="setup">
  
          <p>In order to use BTC/PGP, you must generate a bitcoin address, fund that address, and broadcast a transaction.  Broadcasting a transaction will reveal your public key, giving other the ability to send you messages encrypted to your public key. Because this is a proof of concept, this app uses testnet, and address generation, funding, and transaction broadcast can all be done in the browser below.</p>
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="randomNum" class="col-sm-2 control-label">Random:</label>
              <div class="col-sm-10">
                <input type="button" class="btn" id="randomNum" value="Create Random Key" ng-click="createRandom()">
              </div>
            </div>
            <div class="form-group">
              <label for="passphrase" class="col-sm-2 control-label">Passphrase:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="passphrase" placeholder="Passphrase" ng-model="passphrase">
              </div>
            </div>
            <div class="form-group">
              <label for="wif" class="col-sm-2 control-label">WIF:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="wif" placeholder="Wif Endcoded Private Key" ng-model="wif" ng-change="manualWIF(wif)">
              </div>
            </div>
            <div class="form-group">
              <label for="addr" class="col-sm-2 control-label">Address:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="addr" disabled="true" value="{{ key.pub.getAddress(bitcoin.networks.testnet).toString() }}">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="save()">Save in Cookie</button>
              </div>
            </div>
          </form>

          <hr />

          <form>
            <div class="form-group">
              <label for="addr" class="col-sm-2 control-label">Fund:</label>
              <div class="col-sm-10">
                <input type="button" class="btn f-r" value="Fund this Address" ng-click="fund(range2Btc(spender), key.pub.getAddress(bitcoin.networks.testnet).toString())" />
                <span>{{ range2Btc(spender) }} BTC to {{ key.pub.getAddress(bitcoin.networks.testnet).toString() }}</span>
                <input ng-model="spender" min="1" type="range" style="width: initial"/>
              </div>
            </div>
          </form>

          <!--this is weird....if this div isn't there, the progress bar doesn't get displayed-->
          <div>
            &nbsp;
          </div>

          <div class="progress" ng-show="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%">
            </div>
          </div>





        </div>

        <div role="tabpanel" class="tab-pane" id="encrypt">
          THIS IS PROFILE 
        </div>


        <div role="tabpanel" class="tab-pane" id="decrypt">...</div>



      </div>

    </div>  
  </body>
</html>
